
assignment1.pdf

assignment1/__pycache__/

*.zip

assignment1/data/

assignment2/part1/__pycache__/

assignment2/part1/data/

assignment2/part1/saved_models/
assignment2/part2/__pycache__/

*.png

assignment2/part2/$root/

assignment3/part1/__pycache__/

assignment3/data/*

assignment3/part1/VAE_logs/*